---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <aside>
    <p>Estimated reading time: {% include read-time.html %}</p>
  </aside>
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
<h5>Categories</h5>
<div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
<ul>
  {% for category in categories %}
  <li><a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a></li>
  {% unless forloop.last %}{% endunless %}
  {% endfor %}
</ul>
</div>
